@import url('./var.css');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    color: var(--text);
    background-color: var(--background);
}

header {
    background-color: var(--secondary);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0.5em 0;
}
.lienPages {
    display: flex;
    flex-direction: row;
}