@import url("./var.css");

.todoList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.tache {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 0.5em ;

    background-color: var(--primary);
    border-radius: 10px;

    padding: 0 0.7em;
}
.tache .entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tache .entete .titre {
    width: 8.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tache:hover .entete .titre {
    overflow: visible;
    white-space: normal;
}
.tache:hover {
    scale: 1.05;
}
.supprBtn {
    border: none;
    background-color: red;

    border-radius: 0.5em;

    height: 2.5em;
    width: 2.5em;
}

.terminerTache {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.terminerTache button {
    height: 2.5em;

    border: none;
    border-radius: 0.5em;
    background-color: lime;
}

.etat, .tous {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bgEtat);
    border: 3px solid var(--borderEtat);
    height: 1.5em;
    padding: 0 0.6em;
    border-radius: 1.5em;
}
.etat.nouveau {
    background-color: var(--bgEtatNouveau);
    border: 3px solid var(--borderEtatNouveau);
}
.etat.enCours {
    background-color: var(--bgEtatEnCours);
    border: 3px solid var(--borderEtatEnCours);
}
.etat.reussi {
    background-color: var(--bgEtatReussi);
    border: 3px solid var(--borderEtatReussi);
}
.etat.enAttente {
    background-color: var(--bgEtatEnAttente);
    border: 3px solid var(--borderEtatEnAttente);
}
.etat.abandonne {
    background-color: var(--bgEtatAbandonne);
    border: 3px solid var(--borderEtatAbandonne);
}

button:hover {
    scale: 1.2;
}