:root[data-theme='light'] {
    --background: #E3FDFF;

    --text: #e8e8e8;

    --primary: #8e8e8e;
    --secondary: #5c5c5c;
    --accent: #2b4147;
}
:root[data-theme='dark'] {
    --background: #1c1c1c;

    --text: #FFEAEA;

    --primary: #515151;
    --secondary: #757575;
    --accent: #61DAFB;
}