:root {
    --bgEtat: rgb(73 73 73 / 0.29);
    --borderEtat: #252525;

    --bgEtatNouveau: rgb(59 130 246 / 0.29);
    --borderEtatNouveau: #3B82F6;

    --bgEtatEnCours: rgb(139 92 246 / 0.29);
    --borderEtatEnCours: #8B5CF6;

    --bgEtatReussi: rgb(16 185 129 / 0.29);
    --borderEtatReussi: #10B981;

    --bgEtatEnAttente: rgb(245 158 11 / 0.29);
    --borderEtatEnAttente: #F59E0B;

    --bgEtatAbandonne: rgb(239 68 68 / 0.29);
    --borderEtatAbandonne: #EF4444;


}

:root[data-theme='light'] {
    --background: #E3FDFF;

    --text: #e8e8e8;

    --primary: #8e8e8e;
    --secondary: #5c5c5c;
    --accent: #2b4147;
}
:root[data-theme='dark'] {
    --background: #1c1c1c;

    --text: #FFEAEA;

    --primary: #515151;
    --secondary: #757575;
    --accent: #61DAFB;
}