:root[data-theme='light'] {
    --background: #b7d0ff;

    --text: #420000;

    --primary: #ffadad;
    --secondary: #ff9191;
    --accent: #FF3C3C;
}
:root[data-theme='dark'] {
    --background: #007992;

    --text: #FFEAEA;

    --primary: #FF1B1B;
    --secondary: #FF5555;
    --accent: #ff8787;
}